/*
  * Check figma/praveena text. Can do 100vh for the about part and then do
  * a dynamic scroll to the new content which will lead to pillars
*/

.about-header {
  top: 0;
  background-color: $tertiary-color;
  height: 95vh;
  width: 100%;

  > .about {
    font-family: "Sen", sans-serif;
    font-weight: 800;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 173px;
    color: white;

    @media (max-width: 950px) {
      font-size: 10.5rem;
    }
  }

  > .arrow-down {
    display: flex;
    width: 2rem;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
  }
}

.phil-img-container {
  margin: 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 4rem;

  > img {
    width: 45vw; // can change from vw to percent if necessary - do 100%
    height: 50vw;
    border-radius: 5px;
  }

  > p {
    font-family: "Inknut Antiqua", serif;
    text-align: justify;
    overflow: hidden;
    margin: 2rem 1rem;
    // border-bottom: 5px dotted black;
  }
}

@media (max-width: 900px) {
  .phil-img-container {
    flex-direction: column; /* Switch to vertical layout */
    align-items: center;

    > img {
      width: 70%; /* Adjust width for smaller screens */
      height: auto;
      margin-right: 0;
      margin-bottom: 1rem; /* Add margin below the image */
    }

    > p {
      margin: 1rem; /* Adjust margin for smaller screens */
    }
  }
}


.pillar-wrapper {
  padding: 5px;
  background-image: url('../public/IOE_Pillars.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .pillar-header {
    font-family: "Inknut Antiqua", serif;
    color: black;
    margin: 0 2rem;
    text-align: center;
    font-weight: 400;
  }

  > .pillar-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
    width: 100%;
  
    > .pillar-card {
      font-family: "Inknut Antiqua", serif;
      flex: 1;
      max-width: 45rem;
      height: auto;
      margin: 1rem; 
      color: black;
    
      //* Uncomment when you want hover effect  
      // cursor: pointer;
      // transition: transform 0.3s ease, box-shadow 0.3s ease;
      
      position: relative;
      z-index: 1;
    }

      //* Uncomment when you want hover effect
      // &:hover {
      //   transition-delay: 0.5s;
      //   transform: scale(1.1);
      //   z-index: 1;
        
      //   .pillar-images {
      //     opacity: 1;
      //     visibility: visible;
      //     transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s; /* Add delay before showing images */
      //   }
      // }
  
    //* Uncomment whenever the pillar cards get images.
    //   .pillar-images {
    //     opacity: 0;
    //     visibility: hidden;
    //     display: flex;
    //     justify-content: space-between;
    //     margin-top: 1rem;
    //     transition: opacity 0.3s ease, visibility 0.3s ease;
  
    //     img {
    //       width: 48%;
    //       height: auto;
    //     }
    //   }
    // }
  }
}

//* Try to get the dimmed background.
// .dimmed-background::before {
//   content: '';
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.1);
//   pointer-events: none;
//   transition: opacity 0.3s ease 0.5s;
// }

//* The hovered pillar card
// .pillar-card.hovered {
//   background: none;
//   border-radius: 10px;
// }


.pillar-footer {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin: 3rem 0;

  .join-us-btn {
    background-color: black;
    color: white;
    width: 9rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    &:active, &:focus {
      background-color: black;
      color: white;
      outline: none;
      box-shadow: none;
    }

    > a {
      text-decoration: none;
      color: white;
      width: 100%;
      height: 100%;
    }
  }
}