// Define variables
$primary-color: #5E9AB7;
$secondary-color: #E3CAAB;
$tertiary-color: #231F20;
$quaternary-color: #d9d9d9;
$font-family: "Inknut Antiqua", serif;
$base-font-size: 16px;

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}

// Apply global styles
body {
  font-family: $font-family;
  font-size: $base-font-size;
  color: $tertiary-color;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $tertiary-color;

  .logo {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;

  & a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 1rem 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;

    .logo {
      align-items: center;
      margin-left: 3.2rem;
      width: 4rem;
      height: 4rem;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }
}

.bi {
  color: white;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) scale(4,3);
  cursor: pointer;
}