@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
body {
  font-size: 16px;
  color: #231F20;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Telegraf";
  src: url("./telegraf/PPTelegraf-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Telegraf";
  src: url("./telegraf/PPTelegraf-UltraBold.otf") format("opentype");
  font-weight: 800; /* Use a higher value for ultra-bold */
  font-style: normal;
}

@font-face {
  font-family: "Telegraf";
  src: url("./telegraf/PPTelegraf-UltraLight.otf") format("opentype");
  font-weight: 100; /* Use a lower value for ultra-thin */
  font-style: normal;
}

@font-face {
  font-family: "Anton";
  src: url("./Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  position: relative;
  margin-left: 5px;
  padding: 5px;
  margin-top: 5px;
  z-index: 4;
  height: 40px;
}

header a {
  text-decoration: none;
  z-index: 2;
}

header a.nav-link {
  font-size: 18px; /* Different font size for the apply link */
}

header a.apply {
  font-size: 18px; /* Different font size for the apply link */
}

header {
  padding: 0 20px;
  background-color: #231F20;
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
header #brand {
  display: flex;
  align-items: center;
}
header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header ul a {
  color: white;
  transition: color 0.3s ease;
  letter-spacing: 2px;
  z-index: 2;
}
header ul a:hover {
  color: #5E9AB7;
}
header ul li {
  padding: 5px;
  margin-left: 10px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}
.mobile-menu li {
  z-index: 1;
  background-color: rgba(35, 31, 32, 0.7);
  width: 100%;
  text-align: center;
}
.mobile-menu li a {
  opacity: 1;
  color: white;
}

@media only screen and (max-width: 700px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}
.footer {
  position: absolute;
  font-family: "Inter", sans-serif;
  background-color: #231F20;
  height: 2rem;
  width: 100%;
  margin: 2.5rem 0 0 0 !important;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  margin-top: auto;
}
.footer .join-btn {
  background-color: white;
  color: black;
  width: 5rem;
  height: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.footer .join-btn:active, .footer .join-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}
.footer .join-btn > a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.footer > .email {
  color: white;
}
.footer > .social-links {
  display: flex;
  gap: 20px;
}
.footer > .social-links .instagram, .footer > .social-links .linkedin {
  text-decoration: underline;
  color: white;
}

/* Media Query for Vertical Footer Layout */
@media (max-width: 768px) {
  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .join-btn {
    margin-bottom: 1rem; /* Add some spacing between items */
  }
  .footer .email {
    margin-bottom: 1rem; /* Add some spacing between items */
  }
  .footer .social-links {
    flex-direction: column;
    gap: 0.5rem; /* Adjust gap for vertical layout */
  }
}
.overlay, .home-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 115vh;
  background-color: #231F20;
  z-index: 1;
  transition: opacity 0.3s;
  opacity: 1;
}
.overlay.hidden, .hidden.home-overlay {
  opacity: 0;
}

@media (max-width: 950px) {
  .overlay, .home-overlay {
    display: none !important;
  }
}
.arrow-down-btn > .arrow-down {
  display: flex;
  width: 2rem;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  height: 110px;
  width: 110px;
}

.front-wrapper {
  position: relative;
  padding: 5px;
  background-image: url("../public/IOE_Front_page.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 0;
  padding-top: 45rem;
  margin-bottom: 6rem;
  z-index: 0;
}
.front-wrapper > .join-btn {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-size: 1.2rem;
  position: absolute;
  bottom: 5rem;
  left: 25rem;
  background-color: #231f20;
  color: white;
  width: 9rem;
  height: 3.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.front-wrapper > .join-btn:active, .front-wrapper > .join-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}
.front-wrapper > p {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -1.5rem;
  letter-spacing: 2px;
}
.front-wrapper > .scroll-icon {
  position: absolute;
  right: 0.5rem;
  width: 3rem;
  bottom: 1rem;
}

@media (max-width: 900px) {
  .front-wrapper {
    padding-top: 45rem;
  }
  .front-wrapper > .join-btn {
    bottom: 5rem;
    left: 12rem;
  }
}
@media (max-width: 480px) {
  .front-wrapper {
    padding-top: 45rem;
  }
  .front-wrapper > .join-btn {
    bottom: 3rem;
    left: 6rem;
  }
}



.who-we-are-wrapper {
  top: 0;
  display: flex;
  align-items: stretch;
  gap: 80px;
  background-color: #231F20;
  height: auto;
}

.who-we-are-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Anton";
  font-weight: 400;
  letter-spacing: 1px;
  background-image: url("./../public/new-home-snake.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.who-we-are-text h1 {
  color: white;
  font-size: 4rem;
}

.who-we-are-text p {
  font-size: 20px;
  color: white;
  font-weight: 500;
  font-family: "Telegraf"
}

.who-we-are-images {
  flex: 1;
  width: 900px;
}

.who-we-are-img {
  height: 220px;
  width: 310px;
  margin-top: 20px;
  border-radius: 20px;
  transition: transform 1s ease; 
  transform-origin: center;
}

.who-we-are-img.rotate {
  animation: rotate360 2.5s ease forwards;
}

.who-we-are-img:hover {
  transform: translateY(-10px);
}

.who-we-are-img-row1 {
  display: flex;
  gap: 25px;
  margin-left: 180px;
}

.who-we-are-img-row2 {
  display: flex;
  gap: 25px; 
  margin-left: 120px;
}

.who-we-are-img-row3 {
  display: flex;
  gap: 25px;
  margin-left: 20px; 
  margin-bottom: 60px;
}

@media (max-width: 1100px) {
  .who-we-are-img-row1 {
    margin-left: 10%;
  }
  .who-we-are-img-row2 {
    margin-left: 10%;
  }
  .who-we-are-img-row3 {
    margin-left: 10%;
  }
  .who-we-are-img {
    height: 175px;
    width: 280px;
  }
  .who-we-are-images {
    width: 700px !important;
  }
}

@media (max-width: 900px) {
  .who-we-are-images {
    display: none !important;
  }
  .who-we-are-wrapper {
    height: 600px;
  }
}

.custom-shape-divider-top-1736268398 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: #231F20;
}

.home-pillars {
  margin-top: 10px;
  padding: 30px;
}

.home-pillar-header {
  font-size: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "telegraf", sans-serif;
  text-align: center;
}

.home-pillar-text {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-family: "telegraf", sans-serif;
}

.home-pillar-title {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: "telegraf", sans-serif;
}


.home-pillars-wrapper {
  gap: 30px;
}

.pillar-img {
  width: 350px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 20px;
  transition: transform 1s ease; 
}

.pillar-img:hover {
  transform: translateY(-10px);
}

.dev-pillar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
  gap: 200px;
}

.dev-header-left {
  font-family: "Telegraf", sans-serif;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 300;
}
.dev-header-right {
  font-family: "Telegraf", sans-serif;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 300;
}

.dev-text-left {
  font-family: "Telegraf", sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
  line-height: 1.2;
  font-weight: 300;
}

.dev-text-right {
  font-family: "Telegraf", sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
  line-height: 1.2;
  font-weight: 300;
}

.community-pillar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
  gap: 200px;
}

.ambition-pillar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
  gap: 200px;
}

.philanthropy-pillar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
  gap: 200px;
}

@media (max-width: 1050px) {
  .dev-pillar {
    gap: 100px;
    padding: 0px 50px;
  }
  .community-pillar {
    gap: 100px;
    padding: 0px 50px;
  }
  .ambition-pillar {
    gap: 100px;
    padding: 0px 50px;
  }
  .philanthropy-pillar {
    gap: 100px;
    padding: 0px 50px;
  }
}

@media (max-width: 950px) {
  .dev-pillar {
    gap: 50px;
    padding: 0px 50px;
  }
  .community-pillar {
    gap: 50px;
    padding: 0px 50px;
  }
  .ambition-pillar {
    gap: 50px;
    padding: 0px 50px;
  }
  .philanthropy-pillar {
    gap: 50px;
    padding: 0px 50px;
  }

  .pillar-img {
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
    transition: transform 1s ease; 
  }
}

@media (max-width: 700px) {
  .pillar-img {
    display: none;
  }

  .dev-pillar {
    padding: 0px 20px;
  }
  .community-pillar {
    padding: 0px 20px;
  }
  .ambition-pillar {
    padding: 0px 20px;
  }
  .philanthropy-pillar {
    padding: 0px 20px;
  }
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.learn-more-btn {
  font-family: "Telegraf", serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  width: 9rem;
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.learn-more-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}

.presidents-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6.25rem;
  /* padding: 3rem 5rem; */
  justify-content: center;
  align-items: stretch;
  background-color: #231F20;
  padding-bottom: 2rem;
}
.presidents-wrapper img, .presidents-wrapper .presidents-welcome {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8%;
  margin-bottom: 2rem;
}

.presidents-wrapper .presidents-welcome {
  margin-right: 1.25rem;
  display: block;
  background-color: #231f20;
  color: white;
  height: auto;
  overflow: hidden;
  padding: 2rem 1.25rem;
  border: 1px solid white;
}

.presidents-welcome-header {
  color: white;
  font-size: 5.3rem;
  font-weight: 500;
  font-family: "telegraf", sans-serif;
  text-align: center;
}

.custom-shape-divider-top-1736278971 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.custom-shape-divider-top-1736268398 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  fill: #231F20;
}


.custom-shape-divider-top-1736278971 svg {
  position: relative;
  display: block;
  width: calc(120% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1736278971 .shape-fill {
  fill: #E2DECD;
}

@media (max-width: 1200px) {
  .presidents-wrapper {
    gap: 3rem;
  }
}
@media (max-width: 1000px) {
  .presidents-wrapper {
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .presidents-wrapper {
    gap: 1rem;
  }

  .presidents-wrapper img, .presidents-wrapper .presidents-welcome {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .presidents-wrapper img, .presidents-wrapper .presidents-welcome {
    width: 300px;
  }
}
.exec-header {
  font-size: 3em;
  position: absolute;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.exec-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 10vh;
}

.exec-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  position: relative;
}
.exec-card > .exec-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.exec-card > .exec-card-text {
  font-family: "Inter", sans-serif;
  position: absolute;
  font-size: 0.86rem;
  bottom: -3rem;
  left: 5rem;
  font-weight: bold;
}

.chair-members {
  background-color: #231F20;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding-top: 40px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.chair-members-wrapper {
  margin-top: 30px;
}

.chair-header {
  font-size: 3rem;
  position: absolute;
  top: -5px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.members {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4vh;
  padding: 20px;
  padding-top: 50px;
}

.member-header {
  font-size: 3rem;
  position: absolute;
  top: -10px;
  color: black;
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  position: relative;
  border-radius: 50%;
}
.member-card > .member-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.member-card > .member-card-text {
  font-family: "Inter", sans-serif;
  position: absolute;
  font-size: 0.86rem;
  bottom: -1.8rem;
  left: 4.5rem;
  font-weight: bold;
}
.member-card > .chair-card-text {
  font-family: "Inter", sans-serif;
  position: absolute;
  font-size: 0.86rem;
  bottom: -2.65rem;
  left: 4rem;
  font-weight: bold;
  color: white;
}

.common-link-style, .chair-card-link, .member-card-link, .exec-card-link {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 10%;
  background-image: url("./../public/linkedin_logo.png");
  background-size: cover;
  background-position: center;
  display: block;
}

.exec-card-link {
  bottom: -3rem;
  left: 1.5rem;
}

.member-card-link {
  bottom: -2rem;
  left: 1rem;
}

.chair-card-link {
  bottom: -2.5rem;
  left: 1rem;
}

/*
  * Check figma/praveena text. Can do 100vh for the about part and then do
  * a dynamic scroll to the new content which will lead to pillars
*/
.about-header {
  top: 0;
  background-color: #231F20;
  height: 95vh;
  width: 100%;
}
.about-header > .about {
  font-family: "Sen", sans-serif;
  font-weight: 800;
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 173px;
  color: white;
}
@media (max-width: 950px) {
  .about-header > .about {
    font-size: 10.5rem;
  }
}

.phil-img-container {
  margin: 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.phil-img-container > img {
  width: 45vw;
  height: 50vw;
  border-radius: 5px;
}
.phil-img-container > p {
  font-family: "Inknut Antiqua", serif;
  text-align: justify;
  overflow: hidden;
  margin: 2rem 1rem;
}

@media (max-width: 900px) {
  .phil-img-container {
    flex-direction: column; /* Switch to vertical layout */
    align-items: center;
  }
  .phil-img-container > img {
    width: 70%; /* Adjust width for smaller screens */
    height: auto;
    margin-right: 0;
    margin-bottom: 1rem; /* Add margin below the image */
  }
  .phil-img-container > p {
    margin: 1rem; /* Adjust margin for smaller screens */
  }
}
.pillar-wrapper {
  padding: 5px;
  background-image: url("../public/IOE_Pillars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pillar-wrapper .pillar-header {
  font-family: "Inknut Antiqua", serif;
  color: black;
  margin: 0 2rem;
  text-align: center;
  font-weight: 400;
}
.pillar-wrapper > .pillar-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0;
  width: 100%;
}
.pillar-wrapper > .pillar-cards > .pillar-card {
  font-family: "Inknut Antiqua", serif;
  flex: 1;
  max-width: 45rem;
  height: auto;
  margin: 1rem;
  color: black;
  position: relative;
  z-index: 1;
}

.pillar-footer {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin: 3rem 0;
}
.pillar-footer .join-us-btn {
  background-color: black;
  color: white;
  width: 9rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.pillar-footer .join-us-btn:active, .pillar-footer .join-us-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}
.pillar-footer .join-us-btn > a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.prosbody {
  background-image: url("../public/prosbackground.png");
  background-size: cover; /* Ensures the image covers the entire page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  margin: 0;
  padding: 0;
}

.rush-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2rem 0; /* Add some margin for spacing */
}

.responsive-image {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
}

/* Media Queries for Responsive Image */
@media (max-width: 1200px) {
  .responsive-image {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .responsive-image {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .responsive-image {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .responsive-image {
    width: 90%;
  }
}
.faq {
  width: 100%;
  height: auto;
  top: 100px;
  color: white;
}

.faq-title {
  text-align: center;
  margin-top: 3rem;
  color: white;
  text-shadow: 4px 4px black;
}

.faq-text {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px auto; /* Center horizontally */
  width: 300px;
  color: white;
  margin-bottom: 40px;
}

.faq-header p {
  width: 100%;
  font-size: 2rem;
}
.faq-header h1 {
  font-size: 4rem;
}

.accordion {
  width: 500px;
  border-bottom: 2px solid white;
  margin-top: 20px;
}

.accordion-btn {
  background-color: #425e91;
  font-size: 16px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-top: 2px solid white;
  color: white;
  text-shadow: 2px 2px black;
}
.accordion-btn:after {
  content: "▼"; /* Unicode character for "downard carat" sign */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  transition: transform 0.3s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active:after {
  transform: rotate(180deg); /* Rotate to create the minus sign effect */
}

@media (max-width: 550px) {
  .accordion-container {
    width: 400px;
  }

  .accordion {
    width: 400px;
  }

  .accordion-btn {
    padding: 10px;
  }
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #425e91;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}
.panel p {
  color: white;
}

.mass-meeting-img {
  max-width: 500px;
  border: 4px solid white;
  border-radius: 3px;
}

.rush-title {
  width: 100%;
  height: 95vh;
}
.rush-title h1 {
  font-size: 160px;
  color: white;
  font-weight: 600;
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
}
.rush-title > .arrow-down {
  display: flex;
  width: 2rem;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .back-video {
    display: none;
  }
  .rush-title {
    display: none;
  }
}
.faq-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 1060px) {
  .mass-meeting-img {
    display: none;
  }

  .faq-content {
    justify-content: center;
  }
}
.rush-poster {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.rush-poster .rush-poster-img {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid white;
}

.why-rush-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  padding: 30px 0px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}
.why-rush-wrapper .why-rush-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  text-shadow: 4px 4px black;
  margin-bottom: 30px;
}


.why-rush-wrapper .why-rush-cards {
  display: flex;
  width: 250px;
  height: 245px;
  margin: 10px 40px;
  color: rgb(234, 234, 234);
  flex-direction: column;
  align-items: center;
}
.why-rush-wrapper .why-rush-cards .rush-card-img {
  display: flex;
  background-color: white;
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
  padding: 5px 0px;
  text-align: center;
  /* margin-left: 78px; */
  align-items: center;
  margin-bottom: 20px;
}
.rush-icons {
  width: 70px;
  height: 70px;
  margin-left: 15px;
  margin-top: 10px;
}
.rush-icons {
  width: 70px;
  height: 70px;
  margin-left: 15px;
  margin-top: 10px;
}
.why-rush-wrapper .why-rush-cards .rush-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px; /* Space between title and text */
  text-align: center;
  text-shadow: 2px 2px black;
}
.why-rush-wrapper .why-rush-cards .rush-card-text {
  font-size: 16px;
  text-align: center;
}
.why-rush-wrapper .rush-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px
}

.why-rush-wrapper .apply-btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}
.why-rush-wrapper .apply-btn-wrapper .apply-btn {
  position: relative;
  color: black;
  background-color: white;
  font-weight: 700;
  border: 2px solid black;
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.813); /* Add shadow effect */
}
.why-rush-wrapper .apply-btn-wrapper .apply-btn:hover {
  background-color: rgb(228, 228, 228);
  transition: 0.3s;
}

.rush-image-container {
  flex: 0 0 auto; /* Prevents the image container from resizing */
}

.rush-poster-img-vert {
  display: none;
}

@media (max-width: 1200px) {
  .rush-poster-img {
    display: none !important;
  }

  .rush-poster-img-vert {
    display: block;
    width: 60%;
    border: 1px solid white;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .why-rush-wrapper .why-rush-cards {
    width: 200px; /* Adjust width for smaller screens */
  }

  .why-rush-wrapper .rush-card-wrapper {
    gap: 100px 0px;
  }

  .why-rush-wrapper .apply-btn-wrapper {
    margin-top: 70px
  }

  .rush-poster-img-vert {
    width: 80%;
    border: 1px solid white;
  }
}

@media (max-width: 576px) {
  .why-rush-wrapper .why-rush-cards {
    width: 150px; /* Adjust width for even smaller screens */
  }

  .why-rush-wrapper .rush-card-wrapper {
    gap: 100px 0px;
  }

  .why-rush-wrapper .apply-btn-wrapper {
    margin-top: 130px;
  }

  .rush-poster-img-vert {
    width: 100%;
    border: 1px solid white;
  }
}

.html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=mainstyles.css.map */