html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
body {
  font-size: 16px;
  color: #231F20;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #231F20;
}
nav .logo {
  position: relative;
  margin-left: 5px;
  width: 65px;
  height: 40px;
  padding: 5px;
  z-index: 4;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  z-index: 3;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 1rem 1rem;
  margin: 1rem 0;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #5E9AB7;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav .logo {
    align-items: center;
    margin-left: 3.2rem;
    width: 5rem;
    height: 3.5rem;
    z-index: 3;
  }
  nav .nav-links {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }
}
.footer {
  position: absolute;
  font-family: "Inter", sans-serif;
  background-color: #231F20;
  height: 2rem;
  width: 100%;
  margin: 2.5rem 0 0 0 !important;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  margin-top: auto;
}
.footer .join-btn {
  background-color: white;
  color: black;
  width: 5rem;
  height: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.footer .join-btn:active, .footer .join-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}
.footer .join-btn > a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.footer > .email {
  color: white;
}
.footer > .social-links {
  display: flex;
  gap: 20px;
}
.footer > .social-links .instagram, .footer > .social-links .linkedin {
  text-decoration: underline;
  color: white;
}

/* Media Query for Vertical Footer Layout */
@media (max-width: 550px) {
  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .join-btn {
    margin-bottom: 1rem; /* Add some spacing between items */
  }
  .footer .email {
    margin-bottom: 1rem; /* Add some spacing between items */
  }
  .footer .social-links {
    flex-direction: column;
    gap: 0.5rem; /* Adjust gap for vertical layout */
  }
}
.overlay {
  position: absolute; /* Position relative to the top of the page */
  display: flex;
  justify-content: center;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #231f20;
  z-index: 2;
  transition: opacity 0.2s;
}

.front-wrapper {
  position: relative;
  padding: 5px;
  background-image: url("../public/IOE_Front_page.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 0;
  padding-top: 45rem;
  margin-bottom: 6rem;
}
.front-wrapper > .join-btn {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  position: absolute;
  bottom: 5rem;
  left: 25rem;
  background-color: black;
  color: white;
  width: 9rem;
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.front-wrapper > .join-btn:active, .front-wrapper > .join-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}
.front-wrapper > p {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: -1.5rem;
}
.front-wrapper > .scroll-icon {
  position: absolute;
  right: 0.5rem;
  width: 3rem;
  bottom: 1rem;
}

@media (max-width: 900px) {
  .front-wrapper {
    padding-top: 45rem;
  }
  .front-wrapper > .join-btn {
    bottom: 5rem;
    left: 12rem;
  }
}
@media (max-width: 480px) {
  .front-wrapper {
    padding-top: 45rem;
  }
  .front-wrapper > .join-btn {
    bottom: 3rem;
    left: 6rem;
  }
}
.presidents-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6.25rem;
  padding: 3rem 5rem;
  justify-content: center;
  align-items: stretch;
}
.presidents-wrapper img, .presidents-wrapper .presidents-welcome {
  flex: 1;
  max-width: 500px;
  min-width: 300px;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presidents-wrapper img {
  height: 100%;
  object-fit: cover;
}
.presidents-wrapper .presidents-welcome {
  background-color: #2C2C2C;
  color: white;
  height: auto;
  overflow: hidden;
  padding: 2rem 1.25rem;
}

@media (max-width: 1200px) {
  .presidents-wrapper {
    gap: 3rem;
  }
}
@media (max-width: 1000px) {
  .presidents-wrapper {
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .presidents-wrapper {
    gap: 1rem;
  }
}
.exec-header {
  font-size: 3em;
  position: absolute;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.exec-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 10vh;
}

.exec-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  position: relative;
}

.exec-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.exec-card-text {
  position: absolute;
  font-size: 1rem;
  bottom: -3rem;
  left: 5rem;
  text-align: center;
}

.chair-members {
  background-color: #231F20;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding-top: 40px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.chair-members-wrapper {
  margin-top: 30px;
}

.chair-header {
  font-size: 3rem;
  position: absolute;
  top: -5px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chair-card-text {
  position: absolute;
  font-size: 1rem;
  bottom: -3rem;
  left: 4rem;
  color: white;
  text-align: center;
}

.members {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4vh;
  padding: 20px;
  padding-top: 50px;
}

.member-header {
  font-size: 3rem;
  position: absolute;
  top: -10px;
  text-align: center;
  color: black;
}

.member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
  background-color: #fafafa;
  border-radius: 10px;
  margin: 40px;
  padding: 20px;
  position: relative;
  border-radius: 50%;
}

.member-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.member-card-text {
  font-family: "Inter", sans-serif;
  position: absolute;
  font-size: 1rem;
  bottom: -1.8rem;
  left: 4.5rem;
  font-weight: 500;
}

.common-link-style, .member-card-link, .exec-card-link {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 10%;
  background-image: url("./../public/linkedin_logo.png");
  background-size: cover;
  background-position: center;
  display: block;
}

.exec-card-link {
  bottom: -3rem;
  left: 1.5rem;
}

.member-card-link {
  bottom: -1.8rem;
  left: 1rem;
}

/*
  * Check figma/praveena text. Can do 100vh for the about part and then do
  * a dynamic scroll to the new content which will lead to pillars
*/
.about-header {
  top: 0;
  background-color: #231F20;
  height: 95vh;
  width: 100%;
}
.about-header > .about {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 176px;
  color: white;
}
@media (max-width: 950px) {
  .about-header > .about {
    font-size: 10.7rem;
  }
}
.about-header > .arrow-down {
  display: flex;
  width: 2rem;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.phil-img-container {
  margin: 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.phil-img-container > img {
  width: 45vw;
  height: auto;
  border-radius: 5px;
}
.phil-img-container > p {
  font-family: "Inknut Antiqua", serif;
  text-align: justify;
  overflow: hidden;
  margin: 2rem 1rem;
}

@media (max-width: 768px) {
  .phil-img-container {
    flex-direction: column; /* Switch to vertical layout */
    align-items: center;
  }
  .phil-img-container > img {
    width: 70%; /* Adjust width for smaller screens */
    margin-right: 0;
    margin-bottom: 1rem; /* Add margin below the image */
  }
  .phil-img-container > p {
    margin: 1rem; /* Adjust margin for smaller screens */
  }
}
.pillar-wrapper {
  padding: 5px;
  background-image: url("../public/IOE_Pillars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pillar-wrapper .pillar-header {
  font-family: "Inknut Antiqua", serif;
  color: black;
  margin: 0 2rem;
  text-align: center;
  font-weight: 400;
}
.pillar-wrapper > .pillar-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0;
  width: 100%;
}
.pillar-wrapper > .pillar-cards > .pillar-card {
  font-family: "Inknut Antiqua", serif;
  flex: 1;
  max-width: 45rem;
  height: auto;
  margin: 1rem;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}
.pillar-wrapper > .pillar-cards > .pillar-card:hover {
  transition-delay: 0.5s;
  transform: scale(1.1);
  z-index: 1;
}
.pillar-wrapper > .pillar-cards > .pillar-card:hover .pillar-images {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s; /* Add delay before showing images */
}
.pillar-wrapper > .pillar-cards > .pillar-card .pillar-images {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.pillar-wrapper > .pillar-cards > .pillar-card .pillar-images img {
  width: 48%;
  height: auto;
}

.pillar-card.hovered {
  background: none;
  border-radius: 10px;
}

.pillar-footer {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin: 3rem 0;
}
.pillar-footer .join-us-btn {
  background-color: black;
  color: white;
  width: 9rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.pillar-footer .join-us-btn:active, .pillar-footer .join-us-btn:focus {
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}
.pillar-footer .join-us-btn > a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.prosbody {
  background-image: url("../public/prosbackground.png");
  background-size: cover; /* Ensures the image covers the entire page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */
  background-attachment: fixed; /* Keeps the background fixed during scrolling */
  margin: 0;
  padding: 0;
}

.rush-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2rem 0; /* Add some margin for spacing */
}

.responsive-image {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
}

/* Media Queries for Responsive Image */
@media (max-width: 1200px) {
  .responsive-image {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .responsive-image {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .responsive-image {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .responsive-image {
    width: 90%;
  }
}

/*# sourceMappingURL=mainstyles.css.map */
