*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body-text {
  color: #231F20;
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2vw;
  margin-left: 10px;
}

.head {
  color: white;
  font-size: 10vw; /* responsive font-size based on viewport width */
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .head {
    font-size: 32px; /* fixed font-size for small screens */
  }
  .heading {
    font-size: 16px; /* fixed font-size for small screens */
  }
}

.nav-links {
  display: flex;
  margin-left: flex-end;
  width: 100%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #FFFF;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 14px 16px;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .nav-links a {
    font-size: 12px;
    padding: 10px 12px;
  }
}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #E3CAAB;
}

.logo{
  width: 10vw; /* 10% of the viewport width */
  height: 10vw; /* 10% of the viewport width */
  position: absolute;
  right: 10px;
  top: 10px;
}

.oval {
  height: 100vh;
  width: 100vw;
  top: -50vh; /* adjust as needed */
  /*left: -50vw; adjust as needed*/
  background-color: #376074;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

/* #5E9AB7, #E3CAAB, #231F20 */